body{
    background-color: rgb(229, 135, 12);
    text-align: center;
}

.homepage h1,h2,big{
    color: brown;
  
}
*{
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}
header img{
    float: right;
    display: flex;
    height: 6rem;
}
header{
    height: 6rem;
}
header h1{
    float: left;
    display: flex;
}

.homepage h2{
    text-align: center;
}
header,footer{
    background-color: #dacece;
}
table,th,td{
    border-collapse:collapse;
    width: 20%;
    border: 1px solid;
    align-content: center;
    
}
.collum {
    float: left;
    width: 33.33%;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
