body{
    text-align: center;
}


*{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    
}
header img{
    float: right;
    display: flex;
    height: 6rem;
}
header{
    height: 6rem;
}
header h1{
    float: left;
    display: flex;
}

.homepage h2{
    text-align: center;
}
header,footer{
    background-color: #dacece;
}
 table,th,td{
    border-collapse: collapse;
    border: 5px solid rgb(243, 236, 236);
    padding: 30px;
    width: 1000px;
   
}

.collum {
    float: left;
    width: 33.33%;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
h1,h2,big{
    color: rgb(185, 7, 239);
}

*{
    background-image: url(.//img/livne.JPG );
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: rgb(185, 7, 239);
}